<div class="modifier red selected">
  <div class="value">+4</div>
  <div class="content">
    <div class="name">Determined Attack</div>
    <div class="target">damage</div>
    <div class="spacer"></div>
    <div class="reference">
      <a>B 635</a>, <a>B 639</a>
    </div>
  </div>
  <div class="extra">
    <div class="note">cap SL at 9</div>
  </div>
</div>