<div class="summary">
  <div class="header">
    {{!-- <div class="character none">No character selected</div> --}}
    <div class="title">Current Modifiers</div>
    <div class="spacer"></div>
    <div class="down"><i class="icon mdi mdi-chevron-down"></i></div>
  </div>
  <div>SUMMARY</div>
</div>