<div class="tab" data-value="{{value}}">
  <div class="wrapper-icon">
    {{gurpsIcon icon}}
  </div>
  <svg class="tag" viewBox="0 0 2 2" fill="currentColor"><circle cx="1" cy="1" r="1" /></svg>
</div>