<div class="coin" style="--color: {{color}}; --secondary-color: {{secondaryColor}};" data-key="{{icon}}">
  <div class="label">
    <span class="up"><i class="icon mdi mdi-arrow-up"></i></span>
    <span class="down"><i class="icon mdi mdi-arrow-down"></i></span>
    <span class="value">15</span>
  </div>
  <div class="icon-wrapper">{{gurpsIcon icon}}</div>
  <div class="text">
    <div class="value">10</div>
  </div>
</div>