& > .modal.trait-search {
  & > .wrapper > .content {
    width: 100%;
    
    @import "@components/cards";

    & > input[type="search"] {
      &[name="trait"] {
        //
        border-radius: var(--s1);
        background: #DDD;
        border: 2px solid transparent;
        outline: none;
        padding: var(--s2) var(--s1-5);
        font-size: var(--s1-5);

        &:active, &:focus {
          box-shadow: none;
        }
      }
    }
    

    & > input[type="search"].has-text + .results {
      display: flex;
      &[hidden] { display: flex; }
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      //
      margin: 0px;
      margin-top: var(--s1);
      padding: 0; // var(--s1-5);
      background-color: #e6e6e6;
      border-radius: var(--s1);

      & > li {
        width: 100%;

      }
    }
  }
}