/* stylelint-disable no-descending-specificity */
& > .header {
  --portrait-size: 38vw; //calc(var(--spacing) * 16);
  --max-portrait-size: calc(var(--spacing) * 22);

  padding: var(--form-padding);
  // display: flex;
  // flex-direction: row;
  
  display: grid;
  grid-template-columns: var(--portrait-size) 1fr;
  grid-template-rows: auto;
  grid-template-areas: "portrait name";
  
  & > .wrapper {
    @import "./portrait.scss";

    @import "./details.scss";
  }
}