<div class="card-group horizontal">
  <div class="children">
    {{#> components/cards/wrapper}}{{/components/cards/wrapper}}
    {{!-- {{#> components/cards/wrapper}}{{/components/cards/wrapper}} --}}
  </div>
</div>