{{!-- TODO: Choose between list, group and card --}}
<div class="card-list {{isTrue (isNilOrEmpty label) 'no-label' ''}} {{nullishCoalescing class}}">
  <div class="header">
    <div class="label">
      <!-- chevron is here to centralize text -->
      <div class="chevron invisible"><i class="icon mdi mdi-chevron-up"></i></div>

      <span class="text">{{label}}</span>

      <div class="chevron up"><i class="icon mdi mdi-chevron-up"></i></div>
      <div class="chevron down"><i class="icon mdi mdi-chevron-down"></i></div>
    </div>

    <div class="buttons">
        {{#> components/button class="expand" icon="mdi-chevron-double-down" alternativeIcon="mdi-chevron-double-up"}}
          <b>10</b> <i class="icon mdi mdi-eye-off" style="opacity: 0.75; margin-right: var(--s0-25); margin-top: 2px;"></i>
        {{/components/button}}
        
        <div class="spacer"></div>
        
        {{#> components/button class="hide-all" icon="mdi-eye-off" label="Hide All"}}{{/components/button}}
        {{#> components/button class="show-all" icon="mdi-eye" label="Show All"}}{{/components/button}}
    </div>
  </div>
  <div class="body hidden-list">
    {{#> components/cards/group}}{{/components/cards/group}}
    {{#> components/cards/group}}{{/components/cards/group}}
  </div>
  <div class="body">
    {{#> components/cards/listb label="ListaB"}}Lista B{{/components/cards/listb}}
    {{#> components/cards/group}}{{/components/cards/group}}
    {{#> components/cards/wrapper}}{{/components/cards/wrapper}}
  </div>
</div>