<span class="roll">
  {{!-- <div class="icon-wrapper">
    {{#each icon}}{{gurpsIcon this}}{{/each}}
    {{gurpsIcon 'spell'}}
  </div> --}}
  <div class="value">10</div>
  <div class="label">Roll</div>
  {{!-- {{#if asterisk}} --}}
  {{!-- <div class="asterisk"></div> --}}
  {{!-- <div class="asterisk">
    <i class="icon mdi mdi-asterisk"></i>
  </div> --}}
  {{!-- {{/if}} --}}
</span>