<div class="tag box button">
  {{!-- TAG --}}

  <a class="label">
    {{gurpsIcon 'equipment'}}
    <span>Label</span>
  </a>
  
  <a class="label">
    {{gurpsIcon 'mdi-sword'}}
    <span>Label</span>
  </a>
</div>