<div class="tag box">
  {{!-- TAG --}}

  <a class="label">
    {{gurpsIcon 'equipment'}}
  </a>
{{!--   
  <a class="label">
    <span>Label</span>
  </a> --}}
  
  <a class="label button thin">
    {{gurpsIcon 'mdi-sword'}}
    <span>Label</span>
  </a>
</div>