<div class="card-wrapper collapsed">
  <div class="children">
    {{#> components/cards/card}}{{/components/cards/card}}
    {{#> components/cards/card}}{{/components/cards/card}}
    {{#> components/cards/card}}{{/components/cards/card}}
  </div>
</div>