<div class="floater {{isTrue disabled 'disabled'}}" data-name="{{name}}">
  {{#if label}}
    <div class="label">{{label}}</div>
  {{/if}}
  <div class="wrapper">
    {{> @partial-block}}
  </div>
</div>