<div class="floating side left">
  {{#> mobile-actor-sheet/floater disabled=true}}<i class="icon mdi mdi-pin"></i>{{/mobile-actor-sheet/floater}}
  {{#> mobile-actor-sheet/floater disabled=true}}<i class="icon mdi mdi-pin"></i>{{/mobile-actor-sheet/floater}}
  {{#> mobile-actor-sheet/floater disabled=true}}<i class="icon mdi mdi-pin"></i>{{/mobile-actor-sheet/floater}}
  {{#> mobile-actor-sheet/floater disabled=true}}<i class="icon mdi mdi-pin"></i>{{/mobile-actor-sheet/floater}}
</div>

<div class="floating center bottom">
  {{#> mobile-actor-sheet/floater name="traits"}}
    <span style="font-weight: 500; font-style: italic;">Traits</span>
  {{/mobile-actor-sheet/floater}}
</div>

<div class="floating side right">
  {{#> mobile-actor-sheet/floater}}<i class="icon mdi mdi-message"></i>{{/mobile-actor-sheet/floater}}

  {{#> mobile-actor-sheet/floater name="bucket" label="+99"}}
    <i class="icon mdi mdi-pail"></i>
  {{/mobile-actor-sheet/floater}}
  
</div>