<div class="stack-wrapper">
  {{!-- <div class="stack general light collapsed">
    <div class="label">General</div>
    <div class="holder"></div>
    <div class="tray">GENERAL</div>
  </div> --}}
  {{> mobile-actor-sheet/combat}}
  {{> mobile-actor-sheet/traits}}
</div>