<div class="stack traits light">
  <div class="label">Traits</div>
  <div class="holder"></div>
  
  <div class="tabs" data-value="{{oocTab}}">
    {{> components/tabs/tab value="attribute" icon="attribute"}}
    {{> components/tabs/tab value="advantage" icon="advantage"}}
    {{> components/tabs/tab value="skill" icon="skill"}}
    {{> components/tabs/tab value="spell" icon="spell"}}
    {{> components/tabs/tab value="equipment" icon="equipment"}}
  </div> 

  
  <div class="panels">
    {{#> components/tabs/panel value="attribute"}}
        {{#> components/cards/list}}Button Label{{/components/cards/list}}
        {{!-- {{#> components/cards/list}}Button Label{{/components/cards/list}}
        {{#> components/cards/list}}Button Label{{/components/cards/list}}
        {{#> components/cards/list}}Button Label{{/components/cards/list}} --}}
    {{/components/tabs/panel}}
    {{#> components/tabs/panel value="advantage"}}
      <div>PANEL 2</div>
    {{/components/tabs/panel}}
    {{#> components/tabs/panel value="skill"}}
      <div>PANEL 3</div>
    {{/components/tabs/panel}}
    {{#> components/tabs/panel value="spell"}}
      <div>PANEL 4</div>
    {{/components/tabs/panel}}
    {{#> components/tabs/panel value="equipment"}}
      <div>PANEL 5</div>
    {{/components/tabs/panel}}
  </div>
</div>