& > .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing) var(--s2);
  justify-content: space-around;

  & > .tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    --icon-size: var(--s2-5);
    --font-size: var(--s1-5);

    // #region CHILDREN

    & > .wrapper-icon {
      width: calc(var(--icon-size) + var(--s2));
      height: calc(var(--icon-size) + var(--s2));
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      & > .icon {
        font-size: var(--icon-size);
        line-height: var(--icon-size);
        width: var(--icon-size);
        height: var(--icon-size);
        color: #666;
      }
    }

    & > .label {
      cursor: pointer;
      font-size: var(--font-size);
      color: #666;
      font-weight: 500;
      max-width: var(--s10);
      white-space: normal;
      text-align: center;
      display: flex;
      align-self: flex-end;
    }

    & > svg.tag {
      margin-top: var(--s0-5);
      color: rgb(var(--semi-dark-primary-color), 1);
      width: 6px;
      opacity: 0;
    }

    // #endregion

    // #region VARIANTS

    &.selected {
      & > .wrapper-icon {
        background-color: rgb(100 100 100 / 25%);
        
        & > .icon { color: #111; }
      }

      & > .label { color: #111; }
    }

    &.tagged {
      & > svg.tag { opacity: 1; }
    }

    // #endregion
  }
}

& > .panels {
  & > .panel {
    padding: 0 var(--s2);
    display: none;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;

    // TODO: Implement header for panels

    // #region VARIANTS

    &.selected {
      display: block;
    }

    // #endregion
  }
}