<div class="maneuver " data-value="{{value}}"> <!-- last-maneuver -->
  <div class="wrapper">
    <div class="circle-balance">.</div>
    <div class="icon-wrapper">
      {{gurpsIcon 'aim'}}
    </div>
    <div class="label">{{value}}</div>
    <div class="circles">
      <i class="icon mdi mdi-circle-medium"></i>
    </div>
  </div>
  <div class="overlay">
    <div class="icon-wrapper"><i class="icon mdi mdi-dots-horizontal"></i></div>
  </div>
</div>