<div class="maneuvers">
  <div class="row">
    {{#each (range 0 3)}}
      {{#> mobile-actor-sheet/maneuvers/maneuver value=this}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{/each}}
  </div><div class="row">
    {{#each (range 3 10)}}
      {{#> mobile-actor-sheet/maneuvers/maneuver value=this}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{/each}}
  </div>
  <div class="row">
    {{#each (range 10 15)}}
      {{#> mobile-actor-sheet/maneuvers/maneuver value=this}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{/each}}
  </div>
</div>