<div class="maneuvers">
  <div class="row">
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
  </div>
  {{!-- <div class="row">
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
  </div>
  <div class="row">
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
    {{#> mobile-actor-sheet/maneuvers/maneuver}}{{/mobile-actor-sheet/maneuvers/maneuver}}
  </div> --}}
</div>