@use "@utils" as utils;

// actor sheet apps
.app.window-app.modifier-bucket {
  &.mobile {
    --padding: var(--s2);
    --margin: 0px;
    --border-radius: 0px;

    z-index: 205 !important;
    background-color: transparent;
    @include utils.no-scroll;
    
    padding: var(--margin);

    & > section.window-content {
      background: #DDDDDD;
      border-radius: var(--border-radius);
      padding: 0px;
      
      overflow-x: scroll;
      @include utils.no-scroll;

      & > form {
        padding: var(--padding);

        @import "./header";        
        @import "./characters";
        @import "./body";
        @import "./floating";

        
        & > .header > .button.close { display: none; }

        &:not(.show-send) > .characters { display: none; }
        &.show-send {
          & > .header > .send {
            border-top-left-radius: var(--s1);
            border-top-right-radius: var(--s1);
            background-color: #F0F0F0;
          }

          & > .characters {
            background-color: #F0F0F0;
            border-top-left-radius: var(--s1);
            border-top-right-radius: var(--s1);

            & > .wrapper { justify-content: center; }
          }
        }
      }
    }
  }
}


body.mobile {
  .app.window-app.modifier-bucket {
    &.mobile {
      --margin: var(--s1-5);
      --border-radius: var(--s1-5);

      background: url(../ui/denim075.png) repeat;
      border-radius: 0px;

      & > section.window-content {
        & > form {
          & > .header > .button.close { display: block; }
        }
      }
    }
  }
}